/* Dark Color Scheme */
$text--light: white !important; 
$border--light: 1px solid #939393 !important;
$border--logo: 3px solid #0f62fe;
$fill--light: #939393 !important;
$bg--light: #939393 !important;
$bg--dark: #2b2b2b !important;
$bg--heavyDark: black !important;
$breakpoint--laptop-lg: 1280px;
$breakpoint--12: 75rem;
$breakpoint--09: 62rem;
$breakpoint--04: 42rem;
$breakpoint--03: 37.5rem;
$logo--color: #2470ff !important;
